<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head', { title: 'E-Recicle - Signup'}); %>
  <link rel="stylesheet" type="text/css" href="./css/signup.css">
</head>
<body class="container bg-secondary01 pos-relative py-2">
  <%- include('partials/header'); %>

  <%- include('partials/signup/main'); %>

  <%- include('partials/footer'); %>

  <%- include('partials/scripts');  %>

  <script type="text/javascript">
    window.addEventListener('load', () => {
      const navBrand = document.getElementsByClassName('nav-brand')[0];
      navBrand.addEventListener('click', () => {
        window.location = './index';
      });

      const imageUpload = document.getElementsByClassName('img-upload')[0];
      imageUpload.addEventListener('click', () => {
        const inputFile = document.querySelector('input[type="file"');
        inputFile.click();
      })
    });
  </script>
</body>
</html>