<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head', { title: 'E-Recicle - Signup'}); %>
  <link rel="stylesheet" type="text/css" href="./css/signup.css">
</head>
<body class="container bg-secondary01 pos-relative py-2">
  <%- include('partials/header'); %>

  <%- include('partials/signup/main'); %>

  <%- include('partials/footer'); %>

  <%- include('partials/scripts');  %>

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>

  <script type="module" src="./js/signup.js"></script>
</body>
</html>