<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head', { title: 'E-Recicle - Sign up'}); %>
</head>
<body class="container bg-secondary01 pos-relative py-2">
  <%- include('partials/header'); %>

  <%- include('partials/signup/main'); %>

  <%- include('partials/footer'); %>

  <%- include('partials/scripts');  %>

  <script type="text/javascript">
    window.addEventListener('load', () => {
      const navBrand = document.getElementsByClassName('nav-brand')[0];
      navBrand.addEventListener('click', () => {
        window.location = './index';
      });
    });
  </script>
</body>
</html>